<nav class="navbar bg-light navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNav"
    >
      <ul class="navbar-nav fs-4">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/welcome']"
            [routerLinkActive]="'text-danger'"
            >Welcome</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLinkActive]="'text-danger'"
            [routerLink]="['/products']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLinkActive]="'text-danger'"
            [routerLink]="['/products/3']"
            [routerLinkActiveOptions]="{ exact: true }"
            >add products</a
          >
        </li>
      </ul>
      <ul class="navbar-nav fs-4">
        <li class="nav-item">
          <a class="nav-link">{{ getUsername }}</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" [routerLink]="['/login']" (click)="logout()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
